<nav class="jimotrip-navbar p-1">
	<div class="flexbox align-items-center">
	  <div class="flexbox align-items-center">
 	    <%= link_to 'Jimotrip', root_path, class: "jimotrip-font-color jimo-logo-font ml-3 hover-color" %>
 	    <h4 class="p-3 mt-3 jimotrip-font-color">Explore with a local, enjoy like the locals!</h4>
	  </div>
		  <div class="flexbox nav-right">
 	      <%= link_to 'Create a Jimotrip', new_guide_path(@user), class: "jimotrip-font-color nav-right header-link hover-color" %>
		  	<a class="px-3 navbar-brand jimotrip-font-color hover-color" href="#">My Jimotrips</a>
		  	<a class="navbar-brand jimotrip-font-color lang-text hover-color" href="#"><i class="fas fa-flag-usa"></i></a>
		  	<img class="avatar" alt="avatar" src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589894499/uif0jtkw7bylokixyni6y7nhzamm.jpg" />
		  </div>
	  </div>
	</div>
</nav>

<div class="container mt-3">
	<div class="d-flex">

  	<div class="dashboard-column col-3 mr-3">
  		<h4 class="salmon-text text-center"><strong>Filter by:</strong></h4>
  		<ul>
  			<li>Booking Status</li>
  			<li>City</li>
  			<li>Category</li>
  		</ul>
  	</div>
  
  	<div class="dashboard-main col-9 p-0">
			<ul class="nav nav-fill">
			  <li class="nav-item">
			    <a class="nav-link tab-text-salmon tab-btn" href="#"></strong>Jimotrips to Experience</strong></a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link nav-link-dark tab-btn" href="#"><strong>Jimotrips I've Created</strong></a>
			  </li>
			</ul>

<div class="m-3">
<div class="d-flex justify-content-center">

	<div class="tab-card m-3">
		<img src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589945213/authentic_expriences_bgq73f.jpg" >
		  <div class="tab-card-infos">
		    <div>
		      <h2 class="salmon-text">Authentic experiences.</h2>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		    </div>
		  </div>
		</div>


  <div class="tab-card m-3">
		<img src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589945213/authentic_expriences_bgq73f.jpg" >
		  <div class="tab-card-infos">
		    <div>
		      <h2 class="salmon-text">Authentic experiences.</h2>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		    </div>
		  </div>
		</div>


</div>
</div>

	<div class="m-3">
<div class="d-flex justify-content-center">

	<div class="tab-card m-3">
		<img src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589945213/authentic_expriences_bgq73f.jpg" >
		  <div class="tab-card-infos">
		    <div>
		      <h2 class="salmon-text">Authentic experiences.</h2>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		    </div>
		  </div>
		</div>


  <div class="tab-card m-3">
		<img src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589945213/authentic_expriences_bgq73f.jpg" >
		  <div class="tab-card-infos">
		    <div>
		      <h2 class="salmon-text">Authentic experiences.</h2>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		    </div>
		  </div>
		</div>


</div>
</div>

<div class="m-3">
<div class="d-flex justify-content-center">

	<div class="tab-card m-3">
		<img src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589945213/authentic_expriences_bgq73f.jpg" >
		  <div class="tab-card-infos">
		    <div>
		      <h2 class="salmon-text">Authentic experiences.</h2>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		    </div>
		  </div>
		</div>


  <div class="tab-card m-3">
		<img src="https://res.cloudinary.com/dwd42pppi/image/upload/v1589945213/authentic_expriences_bgq73f.jpg" >
		  <div class="tab-card-infos">
		    <div>
		      <h2 class="salmon-text">Authentic experiences.</h2>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		      <p class="dark-grey-text">Don't just observe the culture. Live it.</p>
		    </div>
		  </div>
		</div>


</div>
</div>
	</div>
</div>

<!-- <h1>see my jimotrips</h1>

<%# @bookings.each do |booking| %>
  <%#= booking.date %>
<%# end %> -->



