.dashboard-column {
	background-color: #F1F1F1;
}

.dashboard-main {
	background-color: #F1F1F1;
}

.tab-text-salmon {
  color: #E5989B;
  font-weight: bold;
  font-size: 20px;
}


.nav-link-dark {
	background-color: #E1E1E1;
  color: rgba(161, 89, 92, .25);
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s;
}

.tab-btn:hover {
	color: #d98b8e;
}

.nav-link-dark:hover {
		background-color: #e8787c;
		box-shadow: 2px 2px 2px #F1F1F1;
    color: white;
}

.nav-pills .nav-link.active {
  background-color: #E5989B;
}

.no-bullets {
  list-style: none;
}

.right-align-card {
  float: left;
}

.title-font {
  font-size: 18px !important;
  font-weight: bold;
  color: #E5989B;
}

.location-font {
  font-size: 14px !important;
  color: rgb(80, 80, 80);
  font-weight: bold;
}

.description-font {
  font-size: 13px !important;
  color: rgb(80, 80, 80);
}
