.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.jimotrip-navbar {
	background-color: #E6E6E6;
}

.jimotrip-font-color {
	color: #E5989B;
  font-size: 16px;
	font-weight: bold;
}

.flexbox {
	display: flex;
	align-items: center;
	justify-content: space-between
}

.nav-right {
	color: #E5989B;
	font-size: 16px;
	font-weight: bold;
}

.jimo-logo-font {
	font-size: 32px;
	font-weight: bold;
}

.header-link:hover {
  text-decoration: none;
}
