<!-- navbar -->

<nav class="jimotrip-navbar p-3">
  <div class="flexbox">
    <div>
      <a class="navbar-brand jimotrip-font-color jimo-logo-font" href="#">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" width="30" height="30" alt="">
        Jimotrip
      </a>
    </div>
      <div class="flexbox nav-right">
        <a class="p-3 navbar-brand jimotrip-font-color" href="#">become a guide</a>
        <a class="p-3 navbar-brand jimotrip-font-color" href="#">see my bookings</a>
        <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />

      </div>
    </div>
  </div>
</nav>


<!-- guide card -->

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-6">
      <div class="card-guide">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-guide-infos">
          <div>
            <h2><%= @current_user.name %></h2>
            <p><%= @guide.location %></p>
          </div>
          <div>
            <h2 class="card-guide-pricing"><%= @guide.price %> Yens</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
